@charset "UTF-8";
@import url(reset.css);
@font-face {
  font-family: "GalanoRegular";
  src: url("../fonts/GalanoGrotesque-Regular.woff") format("woff"), url("../fonts/GalanoGrotesque-Regular.otf") format("opentype"), url("../fonts/GalanoGrotesque-Regular.eot") format("embedded-opentype");
}
@font-face {
  font-family: "GalanoSemiBold";
  src: url("../fonts/GalanoGrotesque-SemiBold.woff") format("woff"), url("../fonts/GalanoGrotesque-SemiBold.otf") format("opentype"), url("../fonts/GalanoGrotesque-SemiBold.eot") format("embedded-opentype");
}
* {
  font-family: GalanoRegular, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

html body#vm {
  font-size: 14px;
}
html body#vm .frame {
  background-color: #ccf0ff;
}
html body#vm .frame header nav {
  height: 55px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
html body#vm .frame header nav .logo {
  display: block;
}
html body#vm .frame header nav .logo img {
  height: 55px;
}
html body#vm .frame header nav .hamburger {
  font-size: 28px;
  color: black;
  opacity: 0.5;
  transition: opacity 0.22s linear;
  padding: 10px 20px;
}
html body#vm .frame header nav .hamburger:visited, html body#vm .frame header nav .hamburger:active {
  color: black;
}
html body#vm .frame header nav .hamburger:hover {
  opacity: 1;
}
html body#vm .frame header .main_menu {
  background-color: #575755;
  padding: 10px;
  display: flex;
  padding-bottom: 70px;
}
html body#vm .frame header .main_menu a {
  display: block;
  color: white;
  font-family: "GalanoSemiBold";
  font-size: 16px;
  text-align: center;
  background-color: #878787;
  border-radius: 4px;
  flex: 1;
  margin: 5px;
  padding: 10px 0;
  position: relative;
}
html body#vm .frame header .main_menu a img {
  height: 50px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
html body#vm .frame header .main_menu a.id {
  background: none;
  opacity: 0.5;
}
html body#vm .frame header .main_menu .active:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 13px 10px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  content: "";
  left: calc(50% - 10px);
  bottom: -24px;
}
html body#vm .frame .content {
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  width: calc(100% - 30px);
  margin: auto;
  margin-top: -51px;
  padding-bottom: 140px;
  position: relative;
}
html body#vm .frame .content .sub_menu {
  background-color: #f6f6f6;
  display: flex;
  width: 100%;
}
html body#vm .frame .content .sub_menu li {
  flex: 1;
  text-align: center;
  padding: 15px 0;
}
html body#vm .frame .content .sub_menu li a, html body#vm .frame .content .sub_menu li a:hover, html body#vm .frame .content .sub_menu li a:visited, html body#vm .frame .content .sub_menu li a:active, html body#vm .frame .content .sub_menu li a:focus {
  color: #878787;
  text-decoration: none;
}
html body#vm .frame .content .sub_menu li a img, html body#vm .frame .content .sub_menu li a:hover img, html body#vm .frame .content .sub_menu li a:visited img, html body#vm .frame .content .sub_menu li a:active img, html body#vm .frame .content .sub_menu li a:focus img {
  height: 18px;
  margin-right: 5px;
  opacity: 0.6;
  filter: grayscale(100%);
}
html body#vm .frame .content .sub_menu li a span, html body#vm .frame .content .sub_menu li a:hover span, html body#vm .frame .content .sub_menu li a:visited span, html body#vm .frame .content .sub_menu li a:active span, html body#vm .frame .content .sub_menu li a:focus span {
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}
html body#vm .frame .content .panel {
  padding: 10px;
}
html body#vm .frame .content .panel .title {
  color: #00b2ff;
  font-family: "GalanoGrotesque-SemiBold";
  font-size: 28px;
  border-bottom: 2px solid #00b2ff;
  display: inline-block;
}
html body#vm .frame .content .panel .search-bar {
  display: flex;
  height: 35px;
  margin-top: 15px;
}
html body#vm .frame .content .panel .search-bar input {
  border: 1px solid #00b2ff;
  border-radius: 4px;
  flex: 1;
  font-size: 12px;
  padding: 0 5px;
  outline: none;
}
html body#vm .frame .content .panel .search-bar button {
  background-color: #00b2ff;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  outline: none;
}
html body#vm .frame .content .panel .search-bar button i {
  font-size: 12px;
}
html body#vm .frame .content .panel .ency-container {
  padding-top: 15px;
}
html body#vm .frame .content .panel .ency-container .intro p {
  margin: 0;
}
html body#vm .frame .content .panel .ency-container .intro .question {
  padding-left: 15px;
  margin-top: 20px;
  position: relative;
}
html body#vm .frame .content .panel .ency-container .intro .question:before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  color: #00b2ff;
}
html body#vm .frame .content .panel .ency-container .intro .question .title {
  border: none;
  font-size: 16px;
}
html body#vm .frame .content .panel .ency-container .intro img {
  width: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
